:root {
    --paragraphColor: #818589;
    --backgroundColorHeader: #B2BEB5;
    --backgroundColorBody: #DEDEDE;
    --headerColorFont: #36454F;
    --testElement: #FF0000;
    --h1Size:5rem;
   
}
html {
    width: 100%;
  
}
@font-face {font-family: "HeaderFont";  
    src: url(CLARENDON.woff);}

h1.mainHeader{ 
    font-size:4rem;
    font-family:"HeaderFont";
    background-color:var(--backgroundColorHeader);
    margin:0;
    color:var(--headerColorFont, black);
    border-style:solid;
    border-width:3px;
    padding-top:5px;
    padding-bottom:5px; 
    padding-left:5px;
}
section #navigation{
    background-color: black;
}
section #navigation a{
    color: white;
    font-size: 2rem;
}

section #aboutme{
    margin:0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--backgroundColorBody);
    color: black;
    font-size: 1rem;
    
}
h2{
    margin:0.1rem;
    padding:0.25rem;
    font-size:3rem;
    color: var(--headerColorFont, black);
}
p{
    color: var(black);
    
   
}
