:root {
    --paragraphColor: #818589;
    --backgroundColor: #B2BEB5;
    --headerColor: #36454F;
    --testElement: #FF0000;
    --h1Size:5rem;
}
html {
    width: 100%;
  
}

h1.mainHeader{
    
    color: var(--headerColor, black);
    font-size:4rem;
}

#aboutMe{
    
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background-color: var(--backgroundColor);
    color: black;
    height: 100%;
    width: 100%;
    font-size:2rem;
    
}
#pictures{
    color: black;
}
h2{
    font-size:3rem;
    color: var(--headerColor, black);
}
p{
    color: var( black);
}
