:root {
    --detailsColor: #b2bdc9;
    --backgroundColorHeader: #B2BEB5;
    --backgroundColorHeaderDark: #91a195;
    --backgroundColorBody: #DEDEDE;
    --headerColorFont: #36454F;
    --testElement: #FF0000;
}
html {
    width: 100%; 
}
@font-face {font-family: "HeaderFont";  
    src: url(CLARENDON.woff);}

#headerID{
    padding:0;
}
h1.mainHeader{ 
    font-size:4rem;
    font-family:"HeaderFont";
    background-color:var(--backgroundColorHeader);
    margin:0;
    color:var(--headerColorFont, black);
    border-style:solid;
    border-width:3px;
    padding-top:5px;
    padding-bottom:5px; 
    padding-left:5px;
}
#navigation{
    
    background-color:var(--headerColorFont);
}
#navigation a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
#navigation a:hover{
    color: grey;
    font-size: 1rem;
    text-decoration: underline;
}
section{
    color:var(--headerColorFont, black);
    border-style:solid;
    border-width:3px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color:var(--backgroundColorBody,olive);
}
#aboutme{
    margin:0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color:var(--backgroundColorBody,olive); 
    font-size: 1rem;
    
}
#aboutme>h2{
    margin:0rem;   
}
details{
    margin: 1rem;
    padding: 0.5rem;
    background-color:var(--detailsColor);
}
details summary > *{
    display: inline;
}
h2{
    margin:0.1rem;
    padding:0.25rem;
    font-size:3rem;
    color: var(--headerColorFont, black);
}
body{
    color: var(black);
    font-family: baskerville;
}
#contact{
    padding-bottom: 0.5rem;
}
.button{
    font-family: baskerville;
    background-color: var(--backgroundColorHeader);
}
.button:hover{
    font-family: baskerville;
    background-color: var(--backgroundColorHeaderDark);
}
footer{
    background-color: var(--backgroundColorHeader);
    color:var(--headerColorFont, black);
    border-style:solid;
    border-width:3px;
    padding-left: 1rem;
    padding-right: 1rem;
}
